.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    /* justify-items: start; */
    justify-items: stretch;
    /* align-items: start; */
    align-items: stretch;
}

.container > div{
    background: #eee;
    padding: 1em;
}

.container > div:nth-child(odd){
    background:#ddd;
}

.box1 {
    /* align-self: start; */
    grid-column: 1/3;
    grid-row: 1/3;
}
.box2 {
    /* align-self: end; */
    grid-column: 3;
    grid-row: 1/3;
}
.box3 {
    /* justify-self: end; */
    grid-column: 2/4;
    grid-row: 3;
}

/* the cool thing about grid is that you can overlap things */
.box4 {
    grid-column: 1;
    grid-row: 2/4;
}